body {
    background-color: rgb(181, 223, 147);
    margin: 0em;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fjalla One', sans-serif;
}

.cover {
    height: 400px;
    color: white;
    background-image:url(./fotos/rsz_portada-dos.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(0,0,0,0.65);
    background-blend-mode: darken;
}

.cover-small{
    height: 200px;
    background-blend-mode: normal;
}

.card {
    border:0 !important;
    box-shadow:  0 4px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    height: 150;
    
}

.card-title{
    min-height: 2rem;
}

.card-text{
    height: 50px;
    width: 98%;
    text-align: justify;
    overflow: hidden;
    
}

.card-text:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;  
}

.mr-0{
    margin-right: 0 !important;
}

.tituloCarrito {
    margin-top: 1rem;
    min-height: 2rem;
    text-align: center;
    color: rgb(90, 107, 76);
}

.tienda {
    position: relative;
}

.navbarsucuhome a:hover {
    background-color: #ddd;
    color: black;
}

.margin-logo {
    margin-left: 12px !important;
}

.navbartienda {
    display: inline-flex !important; 
    width: 20%;
}

.presentacion-tienda{
    float: right;
    width: 75%;
}

.navbarsucuhome {
    z-index: 9999;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.iCart{
    font-size: 18px;
}

.iCarrito{
    float: right;
    font-size: 25px;
    color: rgb(124, 161, 93);

}

.precio{
    float: left;
}

.iTrash{
    float: right;
}

#popUpCarrito {
    display: none;
}

.carritoCompras{
    position: absolute;
    right: 12px;
    top: 70px;
    z-index: 9999;
    box-shadow: 5px 5px 10px 2px rgba(37, 37, 37, 0.8);
    
    
}

.choi-container{
    background-color:#009ee3;
    color: white;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 55px;
    float:right;
    margin-bottom: 1rem;
}

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    background: rgb(124, 161, 93);
    color: #fff;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    color:  rgb(124, 161, 93);
    user-select: none;
}

.buttonVaciarCarrito{
    border: 0;
    font-size: 12px;
    background: rgb(90, 107, 76);
    color: #fff;
}

#sinProductos{
    text-align: center;
}

#subtotalEnvio{
    display: block;
}